/* Box Model Hack */
* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}

/* rem font size set to 10px */
html {
     font-size: 62.5%;
}

/* Variables */
:root {
     /* text colours */
     --light-text: #fff;
     --dark-text: #000;
     /* font sizes */
     --h1: 4.8rem;
     --subheading: 2rem;
     --section-title: 2.4rem;
     --title: 2rem;
     --body: 1.6rem;
     --button: 1.6rem;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

header a {
     text-decoration: none;  /* removing underline */
}
li {
     list-style-type: none; /* removing bullet point */
}
/* making text uppercase */
.uppercase {
     text-transform: uppercase;
}
/* font sizes */
.heading {
     font-size: var(--h1);
}
.subheading {
     font-size: var(--subheading);
}
.section-title {
     font-size: var(--section-title);
}
.title {
     font-size: var(--title);
}
.button {
     font-size: var(--button);
}
p, li, a, span {
     font-size: var(--body);
}

/******************************************
/* LAYOUT
/*******************************************/
header {
     height: 100vh;
}
     nav {
          height: 100px;
     }
section {
     float: left;
}
section.why {
     height: 680px;
     width: 100%;
     border: 2px solid purple;
}
section.visit {
     height: 100vh;
     width: 100%;
     border: 2px solid purple;
}
section.volunteer {
     height: 800px;
     width: 100%;
     border: 2px solid purple;
}
#footer {
     height: 200px;
     width: 100%;
     border: 2px solid purple;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

header {
     background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/gymbackground.jpg");
     background-size: cover;
     color: var(--light-text);
}
     header a {
          color: var(--light-text);
     }
     /* left nav */
     .nav-one {
          width: 33.333%;
          float: left;
     }
          .nav-one ul {
               text-align: left;
               display: inline;
          }
               .nav-one ul li {
                    display: inline;
               }
     /* center logo */
     .nav-two {
          width: 33.333%;
          float: left;
          text-align: center;
     }    
          .nav-two a {
               display: inline-block;
          }
               nav img {
                    height: 70px;
                    width: 70px;
               }
     /* right nav (volunteer) */
     .nav-three {
          width: 33.333%;
          float: left;
          text-align: right;
     }
          .nav-three a {
               display: inline;
          }
          
