/* Box Model Hack */
* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}

/* rem font size set to 10px */
html {
     font-size: 62.5%;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/* Variables */
:root {
     /* text colours */
     --light-text: #fff;
     --soft-text: #ffffff90;
     --dark-text: #000;
     --soft-dark: #000000bc;
     /* font sizes */
     --h1: 5.5rem;
     --subheading: 2rem;
     --section-title: 3.6rem;
     --title: 2rem;
     --body: 2rem;
     --button: 1.6rem;
     /* fonts */
     --heading-font: 'Oswald', sans-serif;
     --body-font: 'Lato', sans-serif;
}

/******************************************
/* BASE STYLES
/*******************************************/

header a, 
section a, 
footer a {
     text-decoration: none;  /* removing underline */
}
header ul, 
ul {
     list-style-type: none; /* removing bullet point */
     padding: 0; /* removing indentation */
     margin: 0; /* removing hidden margin */
}
/* making text uppercase */
.uppercase {
     text-transform: uppercase;
}
/* font styles */
.heading {
     font-size: var(--h1);
     font-family: var(--heading-font);
     font-weight: 400;
}
.subheading {
     font-size: var(--subheading);
     font-family: var(--body-font);
     font-weight: 400;
     letter-spacing: .06rem;
}
.section-title {
     font-size: var(--section-title);
     font-family: var(--heading-font);
     font-weight: 400;
}
.title {
     font-size: var(--title);
     font-family: var(--heading-font);
     font-weight: 400;
}
.button {
     font-size: var(--button);
     font-family: var(--heading-font);
     font-weight: 400;
}
.nav-link {
     font-size: var(--button);
}
p, li, a, span, h6 {
     font-size: var(--body);
     font-family: var(--body-font);
     letter-spacing: .06rem;
}
/* button styling */
.button {
     display: inline-block;
     width: 20rem;
     padding: 1rem;
     border: 2px solid var(--dark-text);
     border-radius: 6px;
     color: var(--dark-text);
     transition: 0.3s;
}
.button:hover {
     color: var(--soft-dark);
     border: 2px solid var(--soft-dark);
}
/******************************************
/* LAYOUT
/*******************************************/
header {
     height: 100vh;
}
     nav {
          height: 100px;
     }
section {
     float: left;
}
section.why {
     height: 600px;
     width: 100%;
}
section.visit {
     height: 800px;
     width: 100%;
}
     .visit .col {
          width: 50%;
     }
section.volunteer {
     height: 700px;
     width: 100%;
}
footer {
     height: 350px;
     width: 100%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/********* HERO Section ********/
header {
     position: relative;
     background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/gymbackground.jpg");
     background-size: cover;
     color: var(--light-text);
     padding: 0 4rem;
}
     /* nav */
     header a {
          color: var(--light-text);
     }
     nav {
          width: 100%;
     }
          .nav {
               line-height: 100px;
               vertical-align: middle;
          }
          /* left nav */
          section.nav-one {
               width: 33.333%;
               float: left;
          }
               .nav-one ul {
                    text-align: left;
                    display: inline;
               }
                    .nav-one ul li {
                         display: inline;
                         margin-right: 1.6rem;
                    }
                         .nav-one ul li a {
                              transition: .3s;
                         }
                         .nav-one ul li a:hover {
                              color: var(--soft-text);
                         }
          /* center logo */
          section.nav-two {
               width: 33.333%;
               float: left;
               text-align: center;
          }    
               .nav-two a {
                    display: inline;
               }
                    nav img {
                         height: 7rem;
                         width: 7rem;
                         vertical-align: middle;
                    }
          /* right nav (volunteer) */
          section.nav-three {
               width: 33.333%;
               height: 100px;
               float: left;
               text-align: right;
               vertical-align: middle;
          }
               .nav-three a {
                    display: inline;
                    vertical-align: middle;
                    background: #eee;
                    padding: 8px 10px;
                    border-radius: 3px;
                    color: var(--dark-text);
                    transition: 0.5s;
               }
               .nav-three a:hover {
                    background: transparent;
                    color: var(--light-text);
               }
     /* heading */
     .heading-container {
          position: absolute;
          text-align: center;
          top: 40%;
          left: 50%;
          transform: translate(-50%);
     }
          .subheading {
               margin: 16px; 
          }
          .video-link span {
               vertical-align: middle; /* centering text with icon */
               color: var(--soft-text);
          }

/*************   WHY section   **************/

section.why {
     background: #fff;
     padding: 18rem 26rem;
     text-align: center;
}
     .why h2,
     .why p {
          margin: 15px;
     }
     .why p {
          line-height: 1.2;
     }

/************  VISIT section  *************/

section.visit {
     background: #DBDFE2;
     text-align: center;
}
     .visit .col {
          padding: 16rem 6rem;
     }
          .visit .col img {
               width: 40rem;
               height: 26rem;
          }
          .visit .col h3,
          .visit .col p,
          .visit .col .button {
               margin: 2rem 0;
          }
          
/************  VOLUNTEER section  *************/

section.volunteer {
     background: #fff;
     color: var(--dark-text);
     text-align: center;
     padding: 18rem 26rem;
}
          .volunteer h3, 
          .volunteer p,
          .volunteer a {
               margin: 3rem 0;
          }

/************  FOOTER section  *************/

footer {
     background: #161F2A;
     color: var(--light-text);
     padding: 4rem;
}
     .left,
     .right {
          width: 50%;
     }
     .left{
          text-align: left;
     }
          .left h6 {
               color: var(--soft-text);
               font-size: 1.4rem;
               margin: 2rem 0 .5rem 0;
          }
          .left ul li {
               display: inline;
               margin: 0 1.5rem 0 0;
          }
               .left ul li a {
                    color: var(--light-text);
                    transition: 0.3s;
               }
               .left ul li a:hover {
                    color: var(--soft-text);
               }
     .right {
          text-align: right;
     }
          .right ul {
               margin: 0 0 2rem 0;
          }
          .right a {
               color: var(--soft-text);
               transition: 0.3s;
          }
          .right a:hover {
               color: var(--light-text);
          }
          
     /* line break */
     .line-break {
          float: left;
          display: block;
          width: 100%;
          height: 2px;
          border-bottom: 2px solid var(--soft-text);
          margin: 4rem 0 2rem 0;
     }
     /* bottom section */
     .tax {
          width: 100%;
     }
          .tax img {
               height: 7rem;
               width: 7rem;
               vertical-align: middle;
          }

/******************************************
/* MEDIA QUERIES
/*******************************************/

/* for screen sizes between 769px - 1024px */
@media (min-width: 76.9rem) and (max-width: 102.4rem) {
     
}